# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.autosave
SplineDemo_Include.pri
build/splinelibraryConfigVersion.cmake
build/splinelibraryConfig.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/3.21.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.21.4/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.21.4/VCTargetsPath.vcxproj
build/CMakeFiles/3.21.4/VCTargetsPath.txt
build/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.21.4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.21.4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.21.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.21.4/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.21.4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.21.4/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.21.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.21.4/CMakeSystem.cmake
build/CMakeFiles/3.21.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.21.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.4/CMakeCCompiler.cmake
build/CMakeCache.txt
.idea/vcs.xml
.idea/SplineLibrary.iml
.idea/modules.xml
.idea/misc.xml
